
.SideBarHeader {
    display: inline-block;
    float: left;
}

.ButtonGroupOutDiv{
    float: right;
    font-size: 15px;
    width: 30%;
}

.ButtonGroup{
    margin: 5% 5% 0 0;
    padding: 10px 10px;
}

.btnList{
    color: gray;
    background-color: white;
    border-right: 2px solid gray;
}

.btnList:active{
    color: #f27c66;
}

.btnList:hover{
    color: #f27c66;
}

h2{
    font-size: 50px;
    margin: 0 0 1px -20%;
    color: #FF8C00;
}

img{
    width: 100px;
}


#top-right-menu{
    float: right;
    width: 4em;
    
}

li{ 
    list-style: none;
}