.l-page{
    width: 980px;
    margin: 5% auto;
    
}

.l-header{
    padding-bottom: 10px;
}

.l-header img{
    width: 100px;
}

.l-card{
    /* background-image: url("../img/bg.png"); */
    background-size:980px 551px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.l_right {
    width: 400px;
    padding-top: 200px;
    margin: auto;
    color: rgba(54, 47, 47, 0.582)
}

.l-btnLogin{
    margin-left: 30%;
    background-color: #FF7F50;
    margin-bottom: 10px;
}

p{
    margin: 0%;
    font-size: 30px;
    color: deepskyblue;
    font-family: "楷体";
}

.l-btnRegister{
    margin-left: 20%;
    background-color: #FF7F50;
}

h4{
    margin:0;
    padding: 0;
    text-align: end;
    font-family: "楷体";
    font-size: 20px;
}

hr{
    margin:5px 0 0 0;
    padding: 0;
    color: #D5D5D5;
    border: 1px solid currentColor;
}

.footCopyright{
    margin: 0%;
    font-size: 30px;
    color: #999;;
    font:12px/1.5 "Microsoft yahei", arial, Simsun, sans-serif;
    text-align: center;
}

/* 以下是首页加载之前的动画，由于导入不进去，就放在这下面 */

.page-load {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #32393F;
    z-index: 100;
    transition: opacity 200ms;
    -webkit-transition: opacity 200ms;
}

.pl-0{
    opacity: 0;
}

.pl-1 {
    display: none;
}

.pl-inner {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
    text-align: center;
    -webkit-animation: fade-in 500ms;
    animation: fade-in 500ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 350ms;
    -webkit-animation-delay: 350ms;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

.pl-inner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
    border: 1px solid rgba(255, 255, 255, 0.2);;
    border-left-color: #fff;
    border-radius: 50%;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
